.boxes{
    position: relative;
    top: 11vh;
    text-align: center;
    
}

.boxes .box{
    position: relative;
    display: inline-block;
    margin: 0 50px;
    width: 25%;   height: 400px;
    background: linear-gradient(to top left, #3a1f7599 0%, rgba(23, 12, 48, 0.6) 85%, #0e071c47 100%);
    border-radius: 30px;
    overflow: hidden;
    transform: translateY(0);
    transition: .9s;
}

.boxes .box:hover{
    box-shadow: 10px 0px 20px #3a1f7599; 
    transform: translateY(-25px);
}
.boxes .box img{
   position: relative;
   top: 0;  left: 0;
   width: 100%;  height: 100%;
   z-index: 1;
   transform: scale(1.1);
   transition: 5s;

}
.boxes .box:hover img{
   transform: scale(2);
}
.boxes .box::before{
    content: '';
    position: absolute;
    left: 0;  bottom: -40%;
    width: 100%;    height: 100%;
    background: #00000047;
    transition: .9s;
    z-index: 2;
}
.boxes .box:hover::before{
    bottom: 0;
}
.boxes .box .content{
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 0; 
    width: 100%;  height: 50%;
    color: #b4baba;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: left;
    z-index: 3;
    transition: .9s;
}
.boxes .box:hover .content{
    top: 10%;
}
.content h1{
    font-size: 24px;
    margin-bottom: 20px;
}