.second_about {
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
    color: white;
    font-size: large;
    width: 50vw;
    background: linear-gradient(to top left, rgba(58, 31, 117, 0.6) 0%, rgba(23, 12, 48, 0.6) 85%, rgba(14, 7, 28, 0.278) 100%);
}
.second_about h1{
    padding-left: 50px;
    float: left;
}
.second_about ul{
    list-style-type: none;
}
.second_about h4{
    padding-left: 50px;
    float: left;
}
.contact_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
