.outer_orbitcontent{
    position: relative;
    height: 350px;
    width: 60vw;
    background: linear-gradient(to top left, #3a1f7599 0%, rgba(23, 12, 48, 0.6) 85%, #0e071c47 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #b4baba;
}

.outer_orbitcontent h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.Project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: .9s;
    flex-direction: row;
}

.outer_orbitcontent {
    position: relative;
    height: 350px;
    width: 60vw;
    background: linear-gradient(to top left, #3a1f7599 0%, rgba(23, 12, 48, 0.6) 85%, #0e071c47 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outer_orbitcontent h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: -10px;
}

.outer_orbitcontent h4 {
    
    
}

.project_description{
    padding-left: 50px;
    margin: 20px 0px;
}

.outer_orbitcontent ul {
    list-style-type: inherit;
    padding-left: 70px;
    padding-right: 60px;
}

.outer_orbitcontent li {
    margin-bottom: 10px;

}