.first {
    height: 100vh;
    position: relative;
    z-index: -1; 
    margin-top: -10px;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.278) 100%);
    background-color: #336699;
}
