.first {
    height: 100vh;
    position: relative;
    z-index: 0; 
    overflow: hidden;
}
#second{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.background-animation-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.second_bottom{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.second_bottom > div {
    margin: 0 70px; /* Adjust the value as per your preference */
}
